@{
    ViewData["Title"] = "Home Page";
    int a=10;
    a++;
}
<br />
<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/photo.jpg" class="img-fluid rounded-start" alt="фото">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@ViewBag.Surname @ViewBag.Name @ViewBag.Secondname</h5>
        <p class="card-text"> Программист, Бухгалтер, Экономист</p>
        <p class="card-text"> Образование высшее</p>
            <p class="card-text"> Август 2020 — по настоящее время 2 года 3 месяца 
            АНОДПО "Академия Шаг" 
            Новосибирск, nsk.itstep.orgn
            Обучение по программе "Разработка программного обеспечения"
            Js, С++, С#, WPF, ASP.net, Mysql, MsSql, Git</p>

            <p class="card-text"> 2003г. Сибирская академия финансов и банковского дела, г. Новосибирск</p>
            <p class="card-text"> Специальности: Бухгалтерский учет анализ аудит, Банковское дело
        </p>
        <br />
         <a href="https://hh.ru/resume/016a0701ff057406fd0039ed1f746369364d6d" class="btn btn-outline-success">Резюме</a>
        <br />

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
