@{
    ViewData["Title"] = "Опыт работы";
}
<h1>@ViewData["Title"]</h1>
<br /> <br /> <br />
<div class="card" style="max-width: 900px;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Июнь 2012 — по настоящее время 10 лет 5 месяцев
                         Российские железные дороги, ОАО </p>


    <p class="card-text">Бухгалтер 1 категории
Ведение бухгалтерского учёта материалов, списание материальных затрат на производство, проведение инвентаризаций,
С 13 года бухгалтер по учету расчётов с персоналом, расчёт заработной платы, заявки на платежи по заработной плате, требования на перечисление заработной платы в банк. С 2016г. бухгалтер сектора учета банковских операций.
</p>
Январь 2005 — январь 2012 7 лет 1 месяц
ГК Септима Новосибирск
Экономист
Создание плановых бюджетов предприятия, бюджет движения денежных средств , планирование прибыли аналитика продаж.</p>
    </p>

     <a href="https://hh.ru/resume/016a0701ff057406fd0039ed1f746369364d6d" class="btn btn-outline-secondary">Резюме</a>
  </div>
</div>
