@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br /> <br /> <br />
<div class="card" style="max-width: 900px;">
  <div class="card-body">
    <h5 class="card-title">Сертификаты</h5>
    <p class="card-text"></p>
<p class="card-text">@ViewBag.One</p>
<p class="card-text">@ViewBag.Two</p>
<p class="card-text">@ViewBag.Three</p>
<p class="card-text">@ViewBag.Four</p>
    <a href="https://hh.ru/resume/016a0701ff057406fd0039ed1f746369364d6d" class="btn btn-outline-success">Резюме</a>
  </div>
</div>