@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br /> <br /> <br />
<div class="card" style="max-width: 900px;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">30.10. 2021 сертификат Microsoft Non Relational Data</p>
<p class="card-text">07.08.2021 сертификат Microsoft Database Fundamentals</p>
<p class="card-text">16.04.2021 сертификат Cisco IT Essentials</p>
<p class="card-text">06.05.2020 сертификат ОАО РЖД Организация обработки и обеспечение безопасности персональных данных ОАО РЖД</p>
    <a href="https://hh.ru/resume/016a0701ff057406fd0039ed1f746369364d6d" class="btn btn-outline-success">Резюме</a>
  </div>
</div>